@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

header {
    background-color: rgb(86, 42, 207);
    color: white;
    text-align: center;
    padding: 30px;
}

.container {
    margin: 1.2em auto;
}

.city-today {
    border: 1px solid black;
    height: 40%;
}

.five-day-forecast {
    margin-top: 2%;
    height: 60%;
}

button {
    list-style-type: none;
    text-align: center;
    background-color: #c0c0c0;
    padding: .9rem;
    font-size: 22px;
    font-weight: normal;
    border-radius: 5px;
    width: 100%;
}

.citybtn {
    margin: 10px auto;
}

#icon {
    height: auto;
    width: auto;
}

.city-icon-wrappers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#five-day-header {
    height: 10%;
}

#five-day-container {
    height: 80%;
    flex-direction: column;
}

.day-containers {
    border: 1px solid black;
    margin: 2% auto;
    background-color: rgb(18, 18, 53);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

span {
    font-weight: bold;
}

#clear-search {
    margin: 5% auto;
}

/* search bar */
       body{
        background-color:#eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

       .height{
        height: 100vh;
       }
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }